.bv-flyline-chart {
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  .point-item {
    cursor: pointer;
  }
  text {
    text-anchor: middle;
    dominant-baseline: middle;
  }
}
