.bv-icon-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  color: rgba(255, 255, 255, .65);
  i {
    font-size: inherit;
    color: inherit;
  }
  + .bv-icon-wrapper {
    margin-left: 8px;
  }
}
