.demo-block {
  .border-box-container, .border-box-content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: rgba(255, 255, 255, .8);
    font-weight: 700;
  }
}


